<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-styles/color.html">

<dom-module id="son-component">
  <template>
    <style is="custom-style">
      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
      .container{
        border: 1px solid tomato;
        padding: 10px;
        margin: 20px 0;
      }
    </style>
    <p class="container">
      Hola: <strong>[[name]]</strong>, desde el componente interno
      <paper-button 
        raised 
        class="indigo"
        on-tap="changeName">
        Soy un componente interno 
       </paper-button>
    </p>
  </template>
  <script>
      Polymer({
      is: "son-component",
      properties: {
          name : {
            type: String,
            value: 'mau',
            notify : true
          }
        },
        changeName: function(){
          this.set('name','Angie');
        }
    });
  </script>

</dom-module>